* {
    padding: 0;
    margin: 0;
}

#track {
    background-color: green;
    width: 900px;
    height: 100%;
    border-right: solid yellow 5px;
}

canvas {
    background: burlywood;
    /* float: right; */
    position: absolute;
    left: 910px;
}

#throw {
    position: absolute;
    top: 525px;
    left: 100px;
    width: 200px;
    height: 75px;
    font-size: 40px;
    font-weight: bold;
}
